text/
modal.html
styles/scss
styles/scss/modal.scss
styles/css/modal.css
styles/css/modal.css.map
scripts/modal.js
images/close-btn-active.png
images/close-btn-inactive.png
images/git_logo_light.png
images/under_construction.png
images/skills_alt.png