/*
-------------- Fonts ------------------
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Oswald|Ubuntu');
$headings: 'Oswald',
sans-serif;
$text: 'Noto Sans',
sans-serif;

/*
--------------- Layout ---------------
*/

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $text;
    color: #e4f7ff;
    letter-spacing: 0.1em;
}

nav {
    position: fixed;
    width: 100%;
    height: 55px;
    z-index: 1;
    text-align: right;
    & span {
        display: inline-block;
        color: cornsilk;
        text-transform: uppercase;
        font-family: $headings;
        font-size: 1.2em;
        background: rgba(0, 0, 0, 0.85);
        border-radius: 20px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
        direction: rtl;
        & a {
            padding: 0 15px;
            text-decoration: none;
            color: cornsilk;
            &:hover {
                color: #e4f7ff;
            }
        }
    }
    & #home-btn {
        position: relative;
        margin: 10px 25px;
        float: left;
        &:active {
            top: 4px;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
        }
    }
    & #about-btn,
    #skills-btn,
    #projects-btn,
    #contact-btn {
        position: relative;
        margin: 0 10px;
        top: 10px;
        right: 1em;
        &:active {
            top: 15px;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
        }
    }
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.banner-parallax,
.skills-parallax,
.projects-parallax,
.contact-parallax {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.banner-parallax {
    background-image: url('/images/banner.jpeg');
    min-height: 100%;
}

.skills-parallax {
    background-image: url('/images/skills.png');
    min-height: 60%;
}

.projects-parallax {
    background-image: url('/images/projects.jpeg');
    min-height: 60%;
}

.contact-parallax {
    background-image: url('/images/footer.jpg');
    min-height: 40%;
}

.name-tag {
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 1.4em;
    width: 100%;
    font-size: 4em;
    font-family: $headings;
    color: cornsilk;
    letter-spacing: 0.75em;
    text-shadow: 0 5px 5px #000;
    background-color: rgba(0, 0, 0, 0.5);
    & .name {
        position: relative;
        left: 1em;
        width: 700px;
        padding: 10px 0;
    }
}

.banner-title {
    position: absolute;
    top: 12.2em;
    font-size: 3em;
    font-family: $headings;
    color: #e0d2c0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: right;
    & .tag {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        text-shadow: 0 5px 5px #000;
        right: 2em;
        padding: 10px 0;
    }
}

.heading {
    color: #ffe7d0;
    font-size: 2em;
    font-family: $headings;
    text-align: center;
}

.section {
    text-align: center;
    padding: 10px 25% 30px 25%;
    line-height: 2rem;
    background: #222222;
    border-top: 1px solid cornsilk;
    border-bottom: 1px solid cornsilk;
    box-shadow: 0 5px 10px 5px #000;
    z-index: 1;
    & ul {
        position: relative;
        font-weight: 600;
        list-style-type: none;
        letter-spacing: 0.2em;
        left: -15px;
    }
    & .skills-p {
        text-transform: uppercase;
        border-bottom: 1px solid #ffe7d0;
        color: #ffe7d0;
    }
    & .skills-description {
        color: #ffe7d0;
    }
}

.parallax-title {
    text-align: center;
    position: absolute;
    font-size: 4em;
    font-family: $headings;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: cornsilk;
    width: 100%;
    top: 40%;
    text-shadow: 0 5px 5px #000;
    background: rgba(0, 0, 0, 0.8);
}

.projects-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    z-index: 1;
    padding-top: 20px;
    & .thumbnail-container {
        margin: 20px 60px;
        height: 300px;
        width: 600px;
        background-color: #ffe7d0;
        box-shadow: 0 5px 5px #000;
        border-radius: 2px;
        border: 1px solid cornsilk;
        color: #222;
        text-align: center;
        -webkit-transition: -webkit-transform 0.3s;
        &:hover {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
        & .img {
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 600px;
            height: 175px;
            transition: all 0.3s;
            &#weather-banner {
                background-image: url('/images/project_thumbs/weather_banner.jpg');
            }
            &#validation-banner {
                background-image: url('/images/project_thumbs/validation_banner.jpg');
            }
        }
        & .project-title {
            position: relative;
            top: 10px;
            text-transform: uppercase;
            font-weight: 600;
        }
        & .project-btn {
            position: relative;
            top: 4em;
            float: left;
            left: 10%;
            & a {
                text-transform: uppercase;
                text-decoration: none;
                background-color: #ffe7d0;
                color: #222;
                padding: 8px 15px;
                border-radius: 20px;
                border: 1.5px solid #222;
                &:hover {
                    background-color: #222;
                    color: cornsilk;
                }
            }
        }
        & .github-btn {
            position: relative;
            float: right;
            top: 2.25em;
            right: 15%;
            font-size: 1.5em;
            opacity: 0.5;
            & a {
                text-decoration: none;
                color: #222;
            }
            & img {
                width: 26px;
                height: 26px;
                margin: 5px 5px;
                transform: translateY(30%);
                opacity: 0.75;
            }
            & .hub {
                border-radius: 15px;
                background-color: rgba(0, 0, 0, 0.75);
                padding: 0 5px;
                color: #ffe7d0;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

.contact-section {
    text-align: center;
    position: absolute;
    padding: 10px 0;
    font-size: 2em;
    font-family: $headings;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: cornsilk;
    width: 100%;
    top: 40%;
    text-shadow: 0 5px 5px #000;
    background: rgba(0, 0, 0, 0.8);
    & .contact-title {
        position: relative;
    }
    & span {
        color: #e4f7ff;
        text-transform: lowercase;
    }
}

.footer {
    position: absolute;
    width: 100%;
    height: 30px;
    background: #161616;
    & .copy {
        font-size: 0.75em;
        margin-left: 10px;
    }
    & .credits {
        position: relative;
        font-size: 0.75em;
        top: 5px;
        float: right;
        right: 1%;
        & a {
            text-transform: uppercase;
            color: cornsilk;
        }
    }
}

@media (max-width: 480px) {
    nav {
        display: none;
    }
    .name-tag {
        font-size: 2.5em;
        text-align: center;
        & .name {
            width: 70%;
            left: 10%;
        }
    }
    .banner-title {
        font-size: 2em;
        & .tag {
            text-align: center;
            right: 10%;
        }
    }
    .projects-container {
        flex-wrap: wrap;
        & .thumbnail-container {
            width: 400px;
            height: 100%;
            & .img {
                top: -1.75em;
                width: 400px;
            }
            &:hover {
                transform: none;
            }
            & .github-btn {
                right: 1em;
                top: -1em;
                opacity: 1;
            }
            & .project-btn {
                left: 1em;
                top: 1em;
                & a {
                    background-color: #222;
                    color: cornsilk;
                }
            }
            & .project-title {
                text-align: center;
                top: -3em;
                left: -4.5em;
            }
        }
    }
    .section {
        padding: 10px 15% 30px 15%;
    }
    .banner-parallax,
    .skills-parallax,
    .projects-parallax,
    .contact-parallax {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        z-index: -1;
    }
    .contact-section {
        font-size: 1.4em;
        & .contact-title {
            left: 10%;
            width: 70%;
        }
    }
    .footer {
        & .credits {
            display: none;
        }
    }
}

@media (max-height: 480px) {
    .projects-container {
        width: 100%;
        flex-wrap: wrap;
    }
    nav {
        display: none;
    }
    .banner-parallax,
    .skills-parallax,
    .projects-parallax,
    .contact-parallax {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        z-index: -1;
    }
    .name-tag {
        font-size: 2.5em;
        // text-align: center;
        top: 1em;
        & .name {
            // width: 70%;
            left: 5%;
        }
    }
    .banner-title {
        font-size: 2em;
        top: 8em;
        & .tag {
            text-align: center;
            right: 10%;
        }
    }
    .section {
        box-shadow: 0 10px 10px 0 #000;
        // width: 20%;
    }
    .contact-parallax {
        min-height: 50%;
    }
    .contact-section {
        font-size: 1.5em;
        top: 4em;
        & .contact-title {
            left: 10%;
            width: 80%;
        }
    }
}