@import url('https://fonts.googleapis.com/css?family=Courgette');
body {
    height: 100vh;
    // background: linear-gradient(rgb(41, 86, 126), rgb(33, 52, 68));
    background: linear-gradient(rgb(96, 156, 212), rgb(34, 67, 97)) center;
}

.title {
    font-family: 'Courgette', cursive;
    color: white;
    text-align: center;
    margin-top: 2em;
    text-shadow: #000 1px 5px 10px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.uc-img {
    background: url('../../images/under_construction.png') center no-repeat;
    height: 200px;
    width: 200px;
    position: relative;
    background-size: 100%;
}

.project-thumbs {
    display: flex;
    position: absolute;
    margin-top: 15%;
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    & .thumb {
        position: relative;
    }
    & .thumb-text {
        position: relative;
        font-family: 'Courgette', cursive;
        font-size: 1.5rem;
        text-align: center;
        color: white;
        font-weight: 600;
        text-shadow: #000 1px 5px 10px;
    }
}

.image-box {
    background: url("../../images/reg_thumb.jpg") center no-repeat;
    height: 250px;
    width: 250px;
    border: 2px solid rgb(108, 162, 199);
    border-radius: 10px;
    background-size: 100%;
    transition: background-size ease 0.3s;
    box-shadow: #000 1px 5px 10px;
    &:hover {
        background-size: 110%;
        border-color: white;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        height: 1200px;
    }
    .project-thumbs {
        flex-direction: column;
        align-content: center;
        margin: 0;
    }
    .uc-img {
        display: none;
    }
    .image-box {
        width: 400px;
        height: 400px;
    }
}