/* line 1, D:/web_projects/tea_cozy/styles/helpers/main.scss */
body {
  margin: 0px;
  font-family: "helvetica", sans-serif;
  color: seashell;
  background-color: #000;
  font-size: 22px;
  text-align: center;
}

/* line 10, D:/web_projects/tea_cozy/styles/helpers/main.scss */
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 16, D:/web_projects/tea_cozy/styles/helpers/main.scss */
.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

/* line 23, D:/web_projects/tea_cozy/styles/helpers/main.scss */
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: #000;
  border-bottom: 1px solid seashell;
  align-items: center;
}

/* line 33, D:/web_projects/tea_cozy/styles/helpers/main.scss */
header img {
  height: 50px;
  padding-left: 10px;
}

/* line 38, D:/web_projects/tea_cozy/styles/helpers/main.scss */
nav {
  text-align: right;
  flex-grow: 1;
}

/* line 43, D:/web_projects/tea_cozy/styles/helpers/main.scss */
nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* line 48, D:/web_projects/tea_cozy/styles/helpers/main.scss */
a {
  color: seashell;
}

/* line 52, D:/web_projects/tea_cozy/styles/helpers/main.scss */
#mission {
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  padding-top: 70px;
}

/* line 58, D:/web_projects/tea_cozy/styles/helpers/main.scss */
#mission .content {
  margin: auto;
  background-color: #000;
  width: 100%;
}

/* line 64, D:/web_projects/tea_cozy/styles/helpers/main.scss */
#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

/* line 71, D:/web_projects/tea_cozy/styles/helpers/main.scss */
#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

/* line 77, D:/web_projects/tea_cozy/styles/helpers/main.scss */
#locations .flex-container {
  margin: auto;
  width: 1100px;
}

/* line 82, D:/web_projects/tea_cozy/styles/helpers/main.scss */
.flex-container.locations {
  padding-top: 5px;
}

/* line 86, D:/web_projects/tea_cozy/styles/helpers/main.scss */
h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

/* line 93, D:/web_projects/tea_cozy/styles/helpers/main.scss */
.item {
  padding: 5px;
}

/* line 97, D:/web_projects/tea_cozy/styles/helpers/main.scss */
.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

/* line 103, D:/web_projects/tea_cozy/styles/helpers/main.scss */
.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* line 110, D:/web_projects/tea_cozy/styles/helpers/main.scss */
.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: #000;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 121, D:/web_projects/tea_cozy/styles/helpers/main.scss */
#contact {
  height: 200px;
}

/* line 125, D:/web_projects/tea_cozy/styles/helpers/main.scss */
footer {
  text-align: left;
  padding-left: 20px;
}

@media only screen and (max-width: 700px) {
  /* line 131, D:/web_projects/tea_cozy/styles/helpers/main.scss */
  .item img {
    display: block;
    flex-direction: column;
    width: 400px;
    margin: 0;
  }
}

/*# sourceMappingURL=../main.map */